/* gh */
.btn-danger {
    color: #fff;
    background-color: rgb(72, 162, 223)!important;
    border-color:rgb(72, 162, 223) !important;
  }
  #u-upload {
    color: #f24040;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  .container-2 {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container-2 {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container-2 {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container-2 {
      width: 1170px;
    }
  }
  /* Full-width input fields */
  input[type='text'],
  input[type='date'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 25px;
    background: #f1f1f1;
  }
  
  input[type='text']:focus,
  input[type='date']:focus {
    background-color: #ddd;
    outline: none;
  }
  select[type='TimeZone'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 25px;
    background: #f1f1f1;
  }
  #deadline {
    color: #808080;
  }
  #timezone {
    color: #808080;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #49bdda;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  